#map {
    position: fixed;
    width:60%;
}
#map-overlay {
      position:fixed;
      left:10px;
      bottom:475px;
      width:200px;
      height:150px;
      border:1px solid #fff;
  }
#features {
    width: 40%;
    margin-left: 60%;
    font-family: 'Courier New', Courier, monospace;
    overflow-y: scroll;
    background-color: #fafafa;
    filter: drop-shadow(0 0 10px #333);
}
section {
    padding:  15px 40px;
    line-height: 25px;
    border-bottom: 1px solid #ddd;
    opacity: 0.25;
    font-size: 15px;
    
}
section.active {
    opacity: 0.87;
}
section:last-child {
    border-bottom: none;
    margin-bottom: 1170px;
}
.mapboxgl-ctrl-logo {
  display: none;
  visibility: hidden;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  font-family: 'Courier New', Courier, monospace;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}